<div id='homePage'>
    <h1>{{heading}}</h1>
    <div id = 'start'>
        <p>{{parastart}}</p>
        <button onclick="startGame()">{{start}}</button>
    </div>
    <div id = 'terminate'>
        <p>{{paraterm}}</p>
        <button onclick="terminateGamePrompt()">{{term}}</button>
    </div>
    <div id= 'boardContainer'></div>
</div>





